body {
    font-family: "Gloria Hallelujah", cursive;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image:url(https://png.pngtree.com/png-vector/20240405/ourmid/pngtree-old-women-sitting-on-sofa-with-tea-png-image_12265025.png);
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  .caixa {
    background-color: darkgrey;
    text-align: center;
    width: 75px;
    height: 75px;
    font-weight: bold;
    font-size: 40px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .game-container {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
  }
  
  .vencedor {
    display: none;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    color: green;
  }
  
  .botao-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .input {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .modernB {
    background-image: linear-gradient(to right, #0897B4, lightblue);
    border: 3px solid #1B7F7A;
    box-shadow: 5px -5px 0px rgb(194, 255, 176);
    margin-left: 20px;
  }
  
  .modernB:hover {
    box-shadow: -10px 10px 0px  lightsteelblue;
    border: 4px solid #1B7F7A
  }

  #menu {
    width: 600px;
    height: 600px;
    background-color: rgb(255, 255, 234);
    border-radius: 30px;

  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  